<div class="navbar">
    
    <div class="container">
        <h2>Nuestros datos</h2>

    <div class="contacto">
        <h3>Contactos</h3>

        <br>
        <p><i class="fab fa-whatsapp-square"></i>Whatsapp: 2615324750</p>
        <p><i class="fas fa-envelope"></i>Correo: inmobiliariafangio@gmail.com</p>
        <p><i class="fas fa-map-marker-alt"></i>Ubicación: Joaquin V. González 733</p>
    </div>

    <div class="redes">
        <h3>Redes</h3>

        <div class="redesIconos">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-instagram-square"></i>
        </div>
    </div>
    </div>
</div>
